/* Dice */

.Dice {
  margin: 3em 2em;
}

.Dice-icon-wrapper {
  position: relative;
  width: 90px;
  height: 90px;
  background-color: white;
}

/* icon only */
.Dice-icon-wrapper > i {
  font-size: 120px;
  background: -webkit-linear-gradient(rgb(135, 164, 228), rgb(79, 81, 206));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: -15px;
  left: -4px;
  text-align: center;
}

/* animation */
.shaking {
  animation: shake;
  animation-duration: 1s;
}

@keyframes shake {
  from {
    transform: translate3d(0, 0, 0);
  }

  15% {
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
